In [23]:
import numpy as np
import pandas as pd

In [24]:
path = '/Users/inaki-eab/Desktop/small-fast-detector/tracker/evaluation/TrackEval/data/gt/mot_challenge/MOTHupba-train/dancetrack0001/gt/gt.txt'

In [25]:
df = pd.read_csv(path, names= ['frame', 'id','xl', 'yt','w', 'h'], usecols=[0,1,2,3,4,5])

In [26]:
df

      frame  id   xl   yt    w    h
0         1   0  219  377  130  193
1         2   0  229  378  117  192
2         3   0  250  378  103  192
3         4   0  260  378   99  191
4         5   0  270  379   92  190
...     ...  ..  ...  ...  ...  ...
4907    699   6  299  345  140  188
4908    700   6  299  345  140  188
4909    701   6  299  345  140  188
4910    702   6  299  345  140  188
4911    703   6  299  345  140  188

[4912 rows x 6 columns]

In [30]:
print('Num frames: ', df['frame'].max())
print('Num IDs: ', df['id'].unique().max())

Num frames:  703
Num IDs:  6

In [35]:
# Compute Bounding Box properties
df['area'] = df['w']*df['h']
df['xc'] = df['xl'] + df['w']/2
df['yc'] = df['yt'] + df['h']/2

In [36]:
df

      frame  id   xl   yt    w    h   area     xc     yc
0         1   0  219  377  130  193  25090  284.0  473.5
1         2   0  229  378  117  192  22464  287.5  474.0
2         3   0  250  378  103  192  19776  301.5  474.0
3         4   0  260  378   99  191  18909  309.5  473.5
4         5   0  270  379   92  190  17480  316.0  474.0
...     ...  ..  ...  ...  ...  ...    ...    ...    ...
4907    699   6  299  345  140  188  26320  369.0  439.0
4908    700   6  299  345  140  188  26320  369.0  439.0
4909    701   6  299  345  140  188  26320  369.0  439.0
4910    702   6  299  345  140  188  26320  369.0  439.0
4911    703   6  299  345  140  188  26320  369.0  439.0

[4912 rows x 9 columns]

In [39]:
# Select ID, should be paralelized using group by
id_df = df[df['id']==0]
id_df

     frame  id   xl   yt    w    h   area     xc     yc
0        1   0  219  377  130  193  25090  284.0  473.5
1        2   0  229  378  117  192  22464  287.5  474.0
2        3   0  250  378  103  192  19776  301.5  474.0
3        4   0  260  378   99  191  18909  309.5  473.5
4        5   0  270  379   92  190  17480  316.0  474.0
..     ...  ..  ...  ...  ...  ...    ...    ...    ...
692    699   0  362  363  167  181  30227  445.5  453.5
693    700   0  362  363  167  181  30227  445.5  453.5
694    701   0  363  363  166  180  29880  446.0  453.0
695    702   0  363  363  165  180  29700  445.5  453.0
696    703   0  364  363  165  179  29535  446.5  452.5

[697 rows x 9 columns]